.form-group.ingredients, .form-group.steps {
    display: flex;
    flex-direction: column-reverse;
    gap: calc(3 * var(--space));
}

.form-group.ingredients div fieldset > div {
    grid-template-columns: 1fr 1fr auto;
}

.form-group.ingredients > div,
.form-group.steps > div {
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--space));
}

.form-group.steps div fieldset > div {
    grid-template-columns: auto 1fr auto;
}

.delete_row, .move_row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.delete_row button, .delete_row button svg,
.move_row button, .move_row button svg {
    width: 32px;
    height: 32px;
}

.delete_row {
    color: var(--red);
}

.delete_row button {
    transition: filter 0.3s, background 0.3s, color 0.3s;

    &:hover {
        filter: brightness(90%);
    }

    &:active {
        filter: brightness(50%);
    }
}

.move_row button {
    transition: filter 0.3s, background 0.3s, color 0.3s;
    cursor: move;

    &:hover {
        color: var(--grey)
    }

    &:active {
        color: var(--grey-green)
    }
}

.add-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dragging {
    background: transparent;
    color: transparent;
    border: 1px solid var(--secondary);
    border-radius: 4px
}
