@use 'sass:list';

@mixin up($size) {
    $size: strip-unit($size);
    @media (min-width: $size * 1px) {
        @content;
    }
}

@mixin down($size) {
    $size: strip-unit($size);
    @media (max-width: $size * 1px) {
        @content;
    }
}

@mixin margin($multiplier, $positions: []) {
    margin-bottom: space($multiplier);
    @if list.length($positions) > 0 {
        @each $position in $positions {
            margin-#{$position}: space($multiplier);
        }
    } @else {
        margin: space($multiplier);
    }
}

.mb1 {
    @include margin(1, ['bottom']);
}
