###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

node_modules
/.pnpm-store
public/assets
###> docker ###
/docker/db/data
###< docker ###

###> tools ###
/tools/**/vendor/
.php-cs-fixer.cache
###< tools ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

docker/db
public/images
tools/**/vendor
*.pem
.yarn

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
