.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: space(4);
}

.recipe .titles {
    text-align: center;
}

.recipe .titles .recipe__name {
    @extend %hero-title;
    font-weight: normal;
}
.recipe .titles .recipe__description {
    @extend %hero-text;
    font-weight: normal;
}

.recipe .times {
    @extend %muted, %card;

    margin-top: space(1);
    padding: space(1);
    display: flex;
    flex-direction: column;
    gap: space(1);
    width: calc(650px / 1.5);

    div {
        display: flex;
        justify-content: space-between;

        .label {
            font-weight: bold;
        }
    }
}

.recipe .recipe__thumbnail {
    width: 650px;
    height: 350px;

    img {
        width: 100%;
        height: 100%;
    }
}

.recipe .content {
    display: grid;
    width: 80%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: space(6);
    grid-template-areas: 'steps ingredients_utensils';
    margin-bottom: space(2);

    @include down(980) {
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr;
        grid-row-gap: space(6);
        grid-template-areas: 'ingredients_utensils' 'steps';
    }
}

.recipe .steps {
    grid-area: steps;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: space(2);
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background: var(--grey-green);
        right: space(-3);

        @include down(980) {
            width: 100%;
            height: 1px;
            top: space(-3);
            right: 0;
        }
    }
}

.recipe .ingredients_utensils {
    grid-area: ingredients_utensils;
    @extend %card;

    background: red;
    height: max-content;
    padding: space(2);
    display: flex;
    flex-direction: column;
    gap: space(2);

    @include down(980) {
        flex-direction: row;

        .ingredients, .utensils {
            width: 50%;
        }
    }
}

.recipe .ingredients_utensils .ingredients_utensils__title {
    @extend %hero-text;
    margin-bottom: space(1);
}

.recipe .ingredients_utensils .ingredients {
    position: relative;
    margin-bottom: space(4);

    &:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        background: var(--grey-green);
        bottom: space(-2);
        left: 0;
    }

    @include down(980) {
        margin-bottom: 0;

        &:after {
            height: 100%;
            width: 1px;
            left: calc(100% + #{space(1)});
            bottom: 0;
            top: 0;
        }
    }
}
