.header {
    @extend %container;
    position: relative;
    line-height: 1;
    padding-top: space(3);
    padding-bottom: space(2);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    --border-header: var(--border);
    margin-bottom: space(4);
    background-color: var(--white-green);
    transition: .1s;
    transition-property: background-color;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--border-header);
        max-width: var(--container-width);
        margin-left: auto;
        margin-right: auto;
        height: 1px;
    }
}

.header ul {
    display: flex;
    align-items: center;
}

.header .header-nav {
    flex-wrap: wrap;
    overflow: hidden;
    height: 58px;
}

.header ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    &[aria-current] {
        color: var(--secondary);
    }
}

.header svg {
    width: 16px;
    height: 16px;
    margin-right: calc(.5 * var(--space));
}

.header .header__home {
    border-right: 1px solid var(--border-header);
    margin-right: calc(2 * var(--space));
    padding-right: calc(1 * var(--space));
}

.header .header__home svg {
    width: 56px;
    height: 56px;
}

.header__home + li {
    margin-left: 0;
}

.header-nav > * + * {
    margin-left: space(5);
}

.header-side > li {
    margin-right: calc(2 * var(--space));
}

.header-side__search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 16px;
    border-right: 1px solid var(--border-header);
    padding-right: space(1);
}

.header-side__auth {
    display: flex;
    gap: space(1);
}

.header_burger {
    display: block;
    margin-left: space(1);

    .burger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
    }

    span::after, span::before, span {
        content:'';
        display: block;
        width:12px;
        height: 2px;
        background: currentColor;
        position: relative;
        transition: .3s;
        transition-property: top, bottom, transform, color;
        color: var(--black);
    }

    span::after {
        top:-6px;
    }

    span::before {
        bottom:-4px;
    }

    span {
        font-size: 0;
        text-indent: -3000px;
    }

    @include up(1040) {
        display: none;

    }
}

.header.is-open {
    color: var(--black);
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.90);
    height: auto;
    padding: 60px space(2) space(2);
    backdrop-filter: blur(10px);
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    .header-nav {
        display: grid;
        height: auto;
        gap: space(4);
        grid-template-columns: 1fr;
        justify-items: center;

        & li {
            width: 200px;
            margin-left: 0;
            font-size: 1.3rem;
        }

        .header__home {
            display: none;
        }
    }

    .header-side__search {
        display: none;
    }

    .header-side {
        position: fixed;
        top: space(5);
        right: space(2.5);
        z-index: 4;
    }

    .header_burger {
        span::after {
            top: -2px;
            transform: rotate(45deg);
        }

        span {
            color: transparent;
        }

        span::before {
            bottom: 0;
            transform: rotate(-45deg);
        }
    }
}
@media (max-width: 600px) and (max-height: 380px) {
    .header.is-open .header-nav {
        grid-template-columns: max-content max-content;
        justify-items: flex-start;
        gap: space(4);
    }
    .header.is-open .header-nav li {
        width: auto;
    }
}
