.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
}

.progress-bar .bar {
    background-color: var(--secondary);
}

.progress-bar .bar:before {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: progress-bar 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress-bar .bar:after {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: progress-bar-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation-delay: 1.15s;
}

.progress-bar {
    display: none;
}

.htmx-request .progress-bar, .htmx-request.progress-bar {
    display: inline;
}

@keyframes progress-bar {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes progress-bar-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}
