.container.glossary .glossary-wrapper {
    display: flex;
    margin-top: calc(2 * var(--space));
}

.glossary-letters {
    position: fixed;
    z-index: 10;
    border-right: 1px solid var(--border);
    display: grid;
    grid-template-rows: repeat(26, 1fr);
    font-size: 20px;
    transition: top .3s ease;
    padding-right: calc(1 * var(--space));
    text-align: center;
}

.glossary-letter {
    font-weight: bold;
    max-height: 40px;
    max-width: 38px;
    line-height: 1;
    transition: .3s;
    padding-block: .10em;

    &[disabled] {;
        opacity: .3;
    }

    &:hover {
        color: var(--secondary);
    }
}

.glossary-letter.is-active {
    border-color: var(--secondary);
    background-color: var(--secondary);
    color: var(--white)
}

.glossary-section {
    margin-top: calc(2 * var(--space));
    padding-top: calc(3 * var(--space));

    &:first-child {
        padding-top: 0;
        margin-top: 0;
    }
}

.glossary-lettering {
    text-transform: uppercase;
    margin-bottom: calc(.5 * var(--space));
}

.glossary-word {
    padding: calc(1 * var(--space)) calc(1.5 * var(--space));
    border-bottom: 1px solid var(--border);
    color: var(--color);
    display: block;

    &:hover {
        color: var(--secondary);
    }

    &:first-letter {
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: bold;
        color: var(--secondary);
    }

    li:last-child & {
        border: none;
    }
}

.glossary-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(4 * var(--space));
}
