.ingredient {
    display: flex;
    justify-content: space-between;
    padding: 0.2em;

    .name {
        max-width: 60%;
        word-break: break-word;
    }
}

.utensil {
    margin-left: calc(3 * var(--space));
    list-style-type: disc;
}

.allergen:not(.container) {
    display: inline-block;
}
