.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: calc(3 * var(--space)) 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 6px 0;
}
.pagination li a,
.pagination li span {
    margin: calc(0.5 * var(--space));
    padding: calc(0.5 * var(--space)) calc(1 * var(--space));
    min-width: 35px;
    white-space: nowrap;
}
.pagination span {
    opacity: 0.6;
}
.pagination a:hover {
    background: var(--main);
    color: var(--white);
}
