.step {
    display: flex;
    gap: calc(4 * var(--space));
    height: 100%;
    padding: calc(2 * var(--space));
}

.step .step__position p {
    background: var(--main);
    color: var(--white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
