:root {
    --main: #08A045;
    --light-main: #38ac00;
    --dark-main: #058d3c;
    --secondary: #A00863;
    --green: #40916C;
    --blue: #457B9D;
    --red: #E63946;
    --yellow: #FFD166;
    --black: #0A221B;
    --white-green: #f6fff5;
    --white: #fdfffd;
    --grey: #6C757D;
    --grey-green: #7c9c82;
    --grey-stroke: #d4dfd5;
    --modal-background: rgba(15, 42, 19, 0.5);
    --border: var(--grey-green);
    --border-light: var(--grey-stroke);
    --shadow: rgba(0, 0, 0, 0.2);

    --space: 8px;
    --gap: calc(3 * var(--space));
}

@import 'functions';
@import 'base';

@import 'tools/reset';
@import 'tools/mixins';
@import 'tools/layout';
@import 'tools/typography';

@import 'pages/home';
@import 'pages/recipe';
@import 'pages/auth';

@import 'modules/header';
@import 'modules/card';
@import 'modules/pagination';
@import 'modules/step';
@import 'modules/ingredient_utensil';
@import 'modules/form';
@import 'modules/alert';
@import 'modules/table';
@import 'modules/select';
@import 'modules/btn';
@import 'modules/icon';
@import 'modules/glossary';

* {
    font-family: Inter, Regular, sans-serif;
}

body {
    height: 100vh;
    background: var(--white-green);
    color: var(--black);
}

main {
    width: 100%;
}

.hidden {
    display: none;
}
