:root {
    --main: #08A045;
    --light-main: #3FC700;
    --secondary: #A00863;
    --green: #40916C;
    --blue: #457B9D;
    --red: #E63946;
    --yellow: #FFD166;
    --black: #0A221B;
    --white: #f6fff5;
    --grey: #6C757D;
    --grey-green: #7c9c82;
    --grey-stroke: #d4dfd5;
    --modal-background: rgba(15, 42, 19, 0.5);
    --border: var(--grey-green);
    --shadow: rgba(0, 0, 0, 0.2);

    --space: 8px;
    --gap: calc(3 * var(--space));
}

@import 'functions';
@import 'base';

@import 'tools/reset';
@import 'tools/layout';
@import 'tools/mixins';
@import 'tools/typography';

@import 'pages/home';

@import 'modules/header';
@import 'modules/card';

* {
    font-family: Inter, Regular, sans-serif;
}

body {
    height: 100vh;
    background: var(--white);
    color: var(--black);
}

main {
    width: 100%;
}

.hidden {
    display: none;
}
