{{ form_start(form, {attr: {class: 'stacked'}}) }}

<section class="stack-large">

    <section>
        <div class="section-title">
            Informations générales
        </div>
        <div class="grid2">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
        </div>
    </section>

    <section>
        <button type="submit" class="btn btn-gradient">Sauvegarder</button>
    </section>

</section>

{{ form_end(form) }}
