.recipe-hero {
    grid-column: 1/-1;
    max-width: 500px;
    margin-top: calc(6 * var(--space));

    @media (min-width: 840px) {
        & {
            grid-column: 1 / 3;
        }
    }
}

.recipe-hero > * + * {
    margin-top: calc(4 * var(--space));
}

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: calc(4 * var(--space));
    grid-auto-flow: dense;
}

.homepage .categories {
    display: flex;
    gap: calc(1 * var(--space));
    flex-wrap: wrap;
}

.homepage .categories .category-label {
    background: red;
    color: var(--white-green);
    width: max-content;
    padding: calc(.5 * var(--space)) calc(1 * var(--space));
    border-radius: 12px;
}
