<button {{ attributes }}
    type="button"
    class="btn btn-primary-outlined mt1"
    data-action="live#action"
    data-live-action-param="add"
    data-recipe="{{ recipe.id }}"
>
    Ajouter à ma liste
    <twig:ux:icon name="lucide:shopping-cart"/>
</button>
