{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container auth">
        <div class="card-auth">
            <div class="card-content">
                <div class="card-body">
                    <div class="card-title">
                        <h1>Se connecter</h1>
                    </div>
                    <form method="post">
                        <div class="form-group">
                            <input placeholder="Email" type="email" value="{{ last_username }}" name="email"
                                   id="inputEmail" autocomplete="email" required autofocus>
                            <label class="float-label" for="inputEmail">Email</label>
                        </div>

                        <div class="form-group">
                            <input placeholder="Mot de passe" type="password" name="password" id="inputPassword"
                                   autocomplete="current-password" required>
                            <label class="float-label" for="inputPassword">Mot de passe</label>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div>
                            <button type="submit">Connexion</button>
                        </div>
                    </form>

                    <span class="separator">
                        <span class="separator-text">ou</span>
                    </span>

                    <div class="already-user">
                        <span>
                            Nouvel utilisateur ?
                            <a href="{{ path('auth_register') }}" class="link">
                                S'inscrire
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
