<div class="ingredient">
    <div class="name">{{ ingredient.ingredient.name }}</div>
    {% if ingredient.quantity > 0 %}
        <div class="quantity">{{ ingredient.quantity }} {{ ingredient.ingredient.unit.shortLabel ?? '' }}</div>
    {% endif %}
</div>
